body {
  overflow-x: hidden;
}

.navbar .nav-link {
  font-size: 14px;
  padding: 0 1rem !important;
  text-transform: capitalize;
}

.navbar .nav-link.active {
  border-left: rgb(34, 27, 27) 3px solid;
}

.carousel-item {
  height: 450px;
}

.ion {
  font-size: 3rem;
}

.carousel-image-1 {
  background: url("../../project_images/glozzom/image1.jpg");
  background-size: cover;
}
.carousel-image-2 {
  background: url("../../project_images/glozzom/image2.jpg");
  background-size: cover;
}
.carousel-image-3 {
  background: url("../../project_images/glozzom/image3.jpg");
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../../project_images//glozzom/lights.jpg");
  /* background-size: cover; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../../project_images//glozzom/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#video-play a {
  color: white;
}

#page-header {
  height: 200px;
  background: url("../../project_images/glozzom/image1.jpg");
  background-position: 0 -360px;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}
.about-img {
  margin-top: -50px;
}

#faq .card {
  border: 2px solid #444;
}

#faq a {
  text-decoration: none;
}

#faq .card-header {
  background: rgb(29, 28, 28);
}

#main-footer {
  background-color: rgb(24, 19, 19) !important;
  color: rgb(236, 231, 231);
}
